{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/detail.css' %}"
/>
{% endblock %}

{% block content %}
<section class="card-container">
  {% comment %} {% for med in meds %} {% endcomment %}
    <div class="card">
      <a href="{% url 'meds_detail' med.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img
            {% comment %} src="{% static 'images/' %}" 
            alt="" {% endcomment %}
          >
        </div>
        </a>
        <h2 class="card-title">{{ med.name }}</h2>
        <p>{{ med.dose }}</p>
        <p> Notes: {{ med.notes }}</p>
        <p> Taken: {{ med.taken }}</p>
        <p> This med was added on: {{med.created }}</p>
        <div class="med-actions">
          <a href="{% url 'meds_update' med.id %}" class="btn warn">Edit</a>
          <a href="{% url 'meds_delete' med.id %}" class="btn danger">Delete</a>
        </div>

      </div>
      
    </div>
  {% comment %} {% endfor %} {% endcomment %}
</section>
{% endblock %}