{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Med List</h1>
  {% comment %} <img src="{% static 'images/' %}" alt="" /> {% endcomment %}

</section>

<section class="card-container">
  {% for med in meds %}
    <div class="card">
      <a href="{% url 'meds_detail' med.id %}">
      <div class="card-content">
        <div class="card-img-container">
        </div>
        <h2 class="card-title">{{ med.name }}</h2>
        <p>{{ med.dose }}</p>
        <p> Notes: {{ med.notes }}</p>
        <p> Taken: {{ med.taken }}</p>
        <p> This med was added on: {{med.created }}</p>  

      </div>
      </a>
    </div>
  {% endfor %} 
</section> 

{% comment %} <table>
  <tr>
    <th> Med </th>
  </tr>
  {% for med in meds %}
  <tr>
    <td>
      {{med.name}}
    </td>
    <td>
      {{med.dose}}
    </td>
    <td>
      {{med.notes}}
    </td>
  </tr>
    {% empty %}
    <h2>No Meds added</h2>

</table>
{% endfor %} {% endcomment %}


{% endblock %}